html, body {
  margin: 0;
  background-color: #660000;
  animation: colorCycle 10s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rye", serif;
}

@keyframes colorCycle {
  0% { background-color: #660000; }
  33% { background-color: #006600; }
  66% { background-color: #000066; }
  100% { background-color: #660000; }
}

#root {
  min-width: 600px;
  max-width: 90%;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.5);
  border-inline: 3px solid black;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  margin: 5px;
}

.gif-grid {
  margin-top: 30px;
  max-width: 70%;
}

.gif-item {
  margin: 20px;
  padding: 5px;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

